.navbar-links {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;

  a {
    font-size: 1rem;
  }
}
a {
  color: var(--white);
  transition: all 0.2s ease-in-out;
  border-radius: 8px;
}

.img-link {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 15px;
  border-radius: 10px;
  padding: 10px;

  &:hover {
    background-color: var(--purple-secondary);
  }

  &.active {
    background-color: var(--purple-main);
    color: var(--pink-light);
  }
}

.img-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border-radius: 10px;
  background-color: var(--pink-light);

  img {
    width: 25px;
    height: 25px;
  }
}

.user-profile {
  display: flex;
  align-items: center;
  padding: 1.5rem 2rem 0 2rem;
  margin-bottom: 1rem;

  .initials-circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--pink-light);
    color: var(--purple-dark);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0.75rem;
    margin-right: 0.75rem;
  }

  .user-greeting {
    font-size: 1.25rem;
    color: var(--white);
    margin-bottom: 0.5rem;

    h1 {
      font-size: 1.25rem;

      margin-bottom: 0.25rem;
    }

    p {
      font-size: 0.875rem;
      color: var(--gray-400);
    }
  }
}

.navbar-link-title {
  font-size: 0.875rem;
  color: var(--gray-400);
  margin-bottom: 0.5rem;
}

.navbar-pic {
  margin: 0 2rem;
  margin-top: 20px; // Skyver elementet til bunnen
  border-radius: 1rem;
  padding-top: 2rem;
  background-color: var(--pink-light);
  position: relative;
  height: 50vh; // Fast høyde for å kontrollere bildet
  overflow: visible; // Tillater at bildet går utenfor

  img {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) scale(1); // Sentrerer og skalerer opp bildet
    object-fit: contain;

    height: auto;
  }

  h2 {
    font-size: 1.5rem;
    color: var(--yellow);
    margin-bottom: 1rem;
    margin: auto;
    text-align: center;
  }
}
