.logout-button-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 1rem;
  height: max-content;

  p {
    color: var(--purple-secondary);

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}
